<%- include ('../partials/header'); %>

<main class="main container">   
    <div class="row">
        <% data.forEach(item => { %>
            <div class="col-md-4">
                <a href="/allBeers/<%= item.id %>">
                    <p>Name: <%= item.name %></p>
                    <img class="img-fluid" src="<%= item.image %>" alt="<%= item.title %>">
                    <h2><%= item.title %></h2>
                    <p>Price: <%= item.price%></p>
                    <hr>
                </a>
            </div>
        <% }) %>
    </div>
</main>

<%- include ('../partials/header'); %>